body {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Helvetica';
    text-align: center;
}
h1 {font-variant: all-small-caps;
    font-size: 50px;
    color: #ffffff;
    margin-top: -15px;
}
h2 {font-size: 15px;
    color: #1DB954;
    margin-top: 30px;
    text-align: right;
}
p {
    font-size: 20px;
  }
.title { 
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}