body {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Helvetica';
    text-align: center;
}
h1 {font-variant: all-small-caps;
    width: max-content;
    font-size: 50px;
    color: #ffffff;
    margin-top: -15px;
    margin-bottom: 5px;
}
h2 {font-size: 15px;
    color: #1DB954;
    margin-top: 30px;
    text-align: right;
}
p {
    font-size: 20px;
    font-style: oblique;
  }
.p3 {
    font-size: 100px;
    font-style: normal;
  }
#container {
margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title { 
    margin-left: auto;
    margin-right: auto;
}
#promptbox { 
    display: block;
    height: 150px;
    position: relative;
    margin-top: 45px;
}
#songbox { 
    display: block;
    height: 100px;
    position: relative;
}
button {
    display: inline-block;
    background-color:#1DB954;
    color: white;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
}
.p2 {
    font-size: 25px;
    color: #ffffff;
    margin-top: -15px;
    font-style: oblique;
}
.topic { 
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.button1:hover span {
    padding-right: 25px;
  }

.button1:hover span:after {
    opacity: 1;
    right: 0;
}
.pad {
   margin: 10px;
}